*
!.gitignore
# --- Fichiers texte ---
*.txt
*.html
*.py
*.docx
/public/balances/*.csv
*.csv



# --- Tests ---
# Ignore les dossiers de tests communs
test/
tests/
spec/

# Ignore les fichiers commençant ou finissant par "test"
*test*
**/tests/
**/__pycache__/
.pytest_cache/
nosetests.xml
coverage.xml
*.lcov

# --- Environnement et Sécurité ---
.env
.venv
env/
venv/
auth.json
*.log

# --- Système et IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
SYNERGIE-PHARMA
SOURCE DU PROJET -AGENT -IA
guide_installation_complet.txt 
presentation_agents_ia_v2.html 
presentation_agents_ia.html
SOURCE DU PROJET -AGENT -IA/python/agents.py SOURCE DU PROJET -AGENT -IA/python/ingest.py SOURCE DU PROJET -AGENT -IA/python/main.py SOURCE DU PROJET -AGENT -IA/python/passenger_wsgi.py   
public/previews/*.pdf
guide_installation_complet.txt
presentation_agents_ia_v2.html
presentation_agents_ia.html
  

